$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;

$color-black-dark: #000;
$color-black-light: #1b1b1b;
$color-black-medium: #080808;

$color-green-dark: #3f8e00;
$color-green-light: #62ba1b;

$color-text-grey: #9c9c9c;

/* FONT */
$default-font-size: 1.6rem;
