@import "../styles/abstracts/variables.scss";
@import "../styles/abstracts/mixins.scss";

.about-container {
  width: 80%;
  background-color: $color-grey-light-1;
  margin: 2rem 10%;
  padding-bottom: 3rem;
}

.about-center,
.about-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  width: 38.5rem;
  height: 5.5rem;
  text-align: center;
  font-weight: 500;
  color: $color-grey-dark;

  @include respond(tab-port) {
    width: 28rem;
    margin: 2rem auto;
  }

  @include respond(phone) {
    width: 18rem;
    font-size: .9rem;
    margin-bottom: 4rem;
  }
}

.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  padding-left: 0;
  width: 50.5rem;
  height: 15rem;
  margin: 0 auto;
  padding: 1rem;
  list-style: none;
  box-shadow: 0 1.5rem 4rem rgba($color-black-dark, 0.15);

  @include respond(tab-land) {
    width: 40.5rem;
    height: 24rem;
  }

  @include respond(tab-port) {
    width: 28rem;
    height: 33rem;
  }

  @include respond(phone) {
    width: 18rem;
    height: 48rem;
  }

  & li {
    display: flex;
    flex-direction: column;
    color: $color-grey-dark;
    font-size: .8rem;
    font-weight: 500;
    font-family: 'IBM Plex Mono', sans-serif;

    & img {
      width: 3rem;
      margin-bottom: 1rem;
    }
  }
}

.about-resume {
  margin-top: 2.5rem;
  text-align: center;
  font-weight: 600;
  color: $color-white;

  @include respond(tab-land) {
    margin-top: 4rem;
  }

  a {
    text-decoration: none;
  }
}

.btn--green {
  @include greenButton;
  border: 2px solid $color-white;

  &:hover {
    background-color: $color-white;
    border: 2px solid $color-green-dark;
    color: $color-green-dark;
  }
    }
