@import "../styles/abstracts/variables.scss";
@import "../styles/abstracts/mixins.scss";

.contact-container {
  width: 80%;
  height: 90vh;
  background-color: $color-grey-light-1;
  margin: 0 10%;
  padding: 2rem;

  @include respond(phone) {
    margin: 3rem 1rem;
  }

  @include respond(tab-land) {
    margin-top: 4rem;
  }
}

.contact-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-form {
  width: 28rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: $color-text-grey;

  @include respond(phone) {
    width: 18rem;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  font-weight: 500;
  color: $color-grey-dark;
}

.message {
  height: 10rem;
}

.btn-form {
  height: 3rem;
  background-color: $color-green-dark;
  color: $color-white;
  font-weight: 600;

  &:hover {
    color: $color-green-light;
    border: .1rem solid $color-green-light;
  }
}

input,
textarea {

}