@import "../styles/abstracts/variables.scss";
@import "../styles/abstracts/mixins.scss";

.contact-container {
  width: 80%;
  min-height: 100vh;
  background-color: $color-grey-light-1;
  margin: 1rem 10% 3rem 10%;
  padding: 2rem;
  overflow-x: hidden;
  
  @include respond(phone) {
    margin: 3rem auto;
    padding: 1rem;
    overflow-x: hidden;
  }

  @include respond(tab-land) {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}

.contact-thankyou {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 2rem;
  background-color: $color-green-dark;
  padding: 2rem;
  border-radius: 6rem;
  
  & p {
    color: $color-white;
    font-weight: 600;
    font-size: 1.5rem;
  }

  &__btn {
    height: 3rem;
    width: 10rem;
    background-color: $color-white;
    color: $color-green-dark;
    border: none;
    border-radius: 1.5rem;
    font-weight: 600;
    transition: all .2s;

  &:hover {
    color: $color-white;
    background-color: $color-black-light;
    border: .1rem solid $color-white;
    transform: translateY(-0.2rem);
  }
  }
}

.contact-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-form {
  width: 28rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: $color-text-grey;

  @include respond(phone) {
    width: auto;
  }

  @include respond(tab-land) {
    margin-bottom: 6.25rem;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  font-weight: 500;
  color: $color-grey-dark;
}

.message {
  height: 10rem;
}

.btn-form {
  height: 3rem;
  background-color: $color-green-dark;
  color: $color-white;
  font-weight: 600;

  &:hover {
    color: $color-green-light;
    border: .1rem solid $color-green-light;
  }
}
