@import "../styles/variables.scss";

.container {
  background-color: $color-black-dark; 
  margin: 0; 
  padding: 0;
  height: 4rem;
  width: 100%;
}

.secondary-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: $color-text-grey;
  background-color: #1B1B1B;
  width: 80%;
  margin: 0 10%;
}

nav .nav-left {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 50rem;
}

nav .nav-right {
  display: flex;
  list-style: none;
}

a {
  &:link,
  &:visited{
    text-decoration: none;
    display: inline-block;
    color: $color-text-grey;
  }

  &:hover {
    color: $color-primary;
    font-weight: 600;
  }
}

.length {
  width: 2rem;
}

nav a.active {
  color: $color-primary;
  font-weight: 600;
}