@import "../styles/abstracts/variables.scss";
@import "../styles/abstracts/mixins.scss";

.home-container {
  width: 100%;
  height: 100vh;
  background-color: $color-black-dark;
}

.flex-container {
  background-color: $color-black-dark;
  color: $color-white;
  display: flex;
  gap: 4rem;
  padding: 6rem 10%;

  @include respond(tab-land) {
    gap: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  @include respond(tab-port) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* padding-left: 2rem; */
    /* padding-right: 2rem; */
    gap: 0;
  }

  @include respond(phone) {
    padding-top: 2rem;
  }
}

.flex-left {
  width: 35rem;
  height: 25rem;
  flex-basis: 60%;
  padding-left: 0;

  @include respond(tab-land) {
    flex-basis: 40%;
    height: 22rem;
  }

  @include respond(phone) {
    height: 22rem;
  }

  &__details {
    margin-top: 4rem;
    /* margin-left: 14rem; */
    margin-right: 4rem;
    width: 28rem;

    @include respond(tab-land) {
      margin-left: 2rem;
      margin-right: 2rem;
    }

    @include respond(tab-port) {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
    }

    @include respond(phone) {
      width: 20rem;
    }
  }

  & p {
    color: $color-text-grey;
    width: 32rem;
    margin-bottom: 2rem;


    @include respond(tab-port) {
      font-size: .9rem;
      width: 30rem;
    }

    @include respond(tab-land) {
      width: 28rem;
    }

    @include respond(phone) {
      width: 22rem;
    }
  }

  &__details-primary{
    margin-bottom: 1.5rem;

  &--main {
    font-size: 1rem;
    font-weight: 600;
  }

  &--sub {
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
  }
  }
}

.flex-right {
  padding-right: 3.5rem;
  flex-basis: 33.33%;

  @include respond(tab-land) {
    flex-basis: 23%;
    padding-right: 0;
  }

  &__picture {
    width: 22rem;
    height: 22rem;
    padding-top: .2rem;
    border-radius: 50%;

    @include respond(phone) {
      width: 18rem;
      height: 18rem;
    }
  }
}

.btn--green {
    width: 19rem;
    height: 4rem;
    background-color: $color-green-dark;
    color: $color-white;
    font-weight: 600;

    @include respond(phone) {
      width: 15rem;
      height: 3rem;
      margin-top: 1rem;
    }

    &:hover {
      border: .1rem solid $color-green-dark;
      color: $color-green-dark;
    }
  }
