@import "../styles/abstracts/variables.scss";
@import "../styles/abstracts/mixins.scss";

.project-container {
  width: 100%;
  height: 100%;
  background-color: $color-black-dark;
  color: $color-white;
}

.project-width {
  width: 75.25rem;
  /* width: 80%; */
  margin: 0 10%;
  padding-top: 7rem;
  
  @include respond(phone) {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: block; */
    /* margin-right: 1rem; */
    /* margin-left: 1rem; */
    /* margin: 0 auto; */
  }

  @include respond(tab-port) {
    /* width: 100vw; */
    /* margin-right: 1rem; */
    /* margin-left: 1rem; */
    padding-top: 6rem;
  }

  @include respond(tab-land) {
    padding-top: 3rem;
  }
}

.project-card {
  background-color: $color-black-dark;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;

  @include respond(tab-land) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include respond(phone) {
    /* margin-top: 2rem; */
    /* border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center; */
    /* margin: 4rem auto; */
  }

  &__external-link {
    margin-bottom: 0;
    height: 17rem;
  }
}

.card-content {
  width: 44.5%;
  padding-right: 0;
  margin-bottom: 2rem;

  @include respond(tab-land) {
    width: 32.5rem;
  }

  &__image {
    height: 17rem;
    width: 32.5rem;
    margin-bottom: 4rem;
    position: cover;
    background-position: top;

    @include respond(phone) {
      width: 20.5rem;
      height: 12rem;
    }
  }

  &__description {
    width: 99%;
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @include respond(phone) {
      width: 20.5rem;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: $color-white;

    @include respond(phone) {
      width: 20.5rem;
    }

    &__link {
      padding-top: .35rem;
    }
  }

  & a {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-white;
      height: 2.3rem;
      width: 9rem;
      font-size: 0.9rem;
      background-image: linear-gradient(
        to right,
        rgba($color-green-dark, 0.6),
        rgba($color-green-light, 0.8)
      );
      transition: all .2s;
    }

    &:hover {
      box-shadow: 0 1rem 2rem rgba($color-black-dark, 0.15);
      transform: translateY(-0.2rem);
      backface-visibility: hidden;
    }
  }
}

.btn-show {
  background-color: transparent;
  color: $color-white;
  border: 1px solid $color-green-dark;

  &:hover {
  color: $color-green-dark;
  background-color: transparent;
}
}
