@import '~bootstrap/scss/bootstrap';
@import "./styles/abstracts/variables.scss";
@import "./styles/abstracts/mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', sans-serif;
}

btn--green {
  width: 19rem;
  height: 4rem;
  background-color: $color-green-dark;
  color: $color-white;
  font-weight: 600;
  border: none;
  border-radius: .5rem;

  @include respond(phone) {
    display: none;
    opacity: 0;
    width: 15rem;
    height: 3rem;
    margin-top: 1rem;
  }

  @include respond(tab-land) {
    display: block;
    margin: 0 auto;
  }

&:hover {
  background-color: $color-black-dark;
  border: 1px solid $color-green-dark;
  color: $color-white;
}
}